- #:url => admin_artist_album_path
- form_for [ :admin, @album.artist, @album ] do |f|

  = render "shared/error_messages", :target => @album
  %p= f.label :artist_id, "Wykonawca"
  %p= f.select :artist_id, ( Artist.all.collect { |a| [a.name, a.id] } ), :required => true, :value => @album.artist
  %p= f.label :name, "Nazwa"
  %p= f.text_field :name
  %p= f.label :year, "Rok (yyyy)"
  %p= f.text_field :year
  %p= f.submit "Dodaj"
