%h1 Rock 'n Roll Hall of Fame
%p
- if @artists != nil
  %table
    %tr
    - @artists.each do |a|
      %tr
        %td
          %b= link_to a.name, a
          %p{ :style => "display: inline; font-size: 10px;" }= link_to "(edit)", edit_artist_path( a )
          %p= a.genre
- else
  %p Brak artystow w bazie!
%p
%p= link_to "(+) Dodaj wykonawcę", new_artist_path
%p
%hr
%p= link_to "interface admina >>", admin_artists_path
