
%h2= @artist.name
%h3= @artist.genre

- @artist.albums.each do |alb|
  %p{ :style => "display: inline;" }= alb.name + " - " + alb.year.to_s 
  %p

%p= link_to "(+) Dodaj album", new_artist_album_path( @artist )
%p
%p= link_to "<< Wstecz", artists_path
